<div *ngIf = "product">
    <div class="container">
        <div class="row gap-5">       
            <h1 >{{product.title}}</h1>
            <div class="row ">
                <img class="col-md-2 " src={{product.image}}>
                <div class="col-md-6 d-grid">
                    <p class="h2">Description: {{product.description}}</p>
                    <p class="h1">PRICE : ${{product.price}}</p>
                    <p class="h2">Category: {{product.category | uppercase}}</p>
                    <p class="h2">Rating: {{product.rating["rate"]}}</p>
                </div>
                
            </div>
            <button (click)="goBack()" class="btn btn-success col-md-2">go back</button>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise"> 
    <p style="color: white">Please Wait. </p>
  </ngx-spinner>



