
    
    <!--Value : {{loginForm.value | json}}-->
    <div class="login">
        <div class="row">
        <div class="col-md-4 "></div>
        <div class="col-md-4 fs-4">
            <app-alert-message></app-alert-message>
            </div>
        <div class="col-md-4 "></div>
        </div>
        <div class="row">
        
        <div class="col-md-4"></div>
        

        <!--<div *ngIf="message" [ngClass]="message.cssClass">{{message.text}}</div>-->
        <div class="col-md-4 "  >
            <!--<form [formGroup]="loginForm" class="position-absolute p-5 bg-info bg-gradient text-dark rounded-3 top-50 start-50 translate-middle">-->
            <form [formGroup]="loginForm" class="form-group bg-light border rounded  p-5 " (ngSubmit)="onSubmit()">
        
              <div class="h1 mb-3 text-center">
                  LOGIN
              </div>
         
          <div class="form-group mb-3">
              <label for="userEmail" class="fs-3">Email address</label>
              <input formControlName="useremail" class="form-control fs-3" id="userEmail" aria-describedby="emailHelp">
              <!--one method of using loginForm.controls -->
              <!--<div class="alert alert-danger" *ngIf="formControls.useremail.invalid && formControls.useremail.touched" >Please enter a valid Email</div>-->
              <!--another method of using loginForm.get  -->
              <!-- Earlier version of angularm, the below code would work but not in new version of angular-->
              <!--<div class="alert alert-danger" *ngIf="useremail.invalid && useremail.touched" >Please enter a valid Email</div>-->

              <!--For new verion of angular use the safe navigation operator ?   as the useremail could possibly be null-->
              

              <div class="alert alert-danger" *ngIf="useremail?.invalid && useremail?.touched" >Please enter a valid Email</div>
          </div>
    
          <div class="form-group mb-3">
              <label for="userPassword" class="fs-3">Password</label>
              <input type="password" formControlName="pswd" class="form-control" id="userPassword">
              <!--<div class="alert alert-danger" *ngIf="formControls.pswd.invalid && formControls.pswd.touched">Please enter a Password</div>-->
              <!-- Earlier version of angularm, the below code would work but not in new version of angular-->
              <!--<div class="alert alert-danger" *ngIf="pswd.invalid && pswd.touched">Please enter a Password</div>-->

              <!--For new verion of angular use the safe navigation operator ?   as the pswd could possibly be null-->
              
              <div class="alert alert-danger" *ngIf="pswd?.invalid && pswd?.touched">Please enter a Password</div>
          </div>
    
          <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary w-100" > Submit</button>
          </form>
    
     </div>

     <div class="col-md-4"></div>

    </div>
</div>
    
